body
{
	font-family: Arial, Helvetica, sans-serif;
}

input:valid
{
	color: black;
	font-weight: normal;
}

input:invalid
{
	color: red;
	font-weight: bold;
}

input[type=text], input[type=email], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]
{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #45a049;
}

textarea
{
	height: 200px;
}

/*Make links look like regular text*/
a
{
	color:inherit;
	text-decoration: none;
}

/*Links change color and increase in size when hovered over*/
a:hover
{
	color: Red;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 100%;
	font-weight: bold;
}

/*No indent for lists*/
ul, ol
{
	margin-left:0px;
	padding-left:0px;
}

/*Remove bullet from list items*/
li
{
	list-style-type: none;
}

/*Center images*/
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

/*Center heading id's*/
#heading
{
	text-align: center;
}

/*Pad footing id's*/
#footing
{
	text-align: right;
	padding-right: 40px;
}

/*Format for header class*/
.header
{
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: left;
    position: static;
    top: 50px;
    left: 100px;
	right: 100px;
    padding-left: 20px;
    padding-right: 20px;
	margin: auto;
	width: 75%;
}

/*Format for textblock class*/
.textblock
{
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: left;
    position: static;
    top: 200px;
    left: 100px;
	right: 100px;
    padding-left: 20px;
    padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 50px;
	margin: auto;
	width: 75%;
}

/*Format for footer class*/
.footer
{
   color: white;
   background-color: rgba(0, 0, 0, 0.75);
   text-align: left;
   position: fixed;
   left: 0;
   bottom: 0;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
   width: 100%;
}

/*Float things to the left*/
.alignleft
{
	float: left;
}

/*FLoat things to the right*/
.alignright
{
	float: right;
}
