body
{
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

img
{
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.sidenav
{
    background-color: #111;
	height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 0;
    z-index: 1;
}

.sidenav a
{
    color: #818181;
    display: block;
	font-size: 25px;
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
	font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
	top: 0;
}

.menu-icon
{
	cursor: pointer;
	font-size: 30px;
}

.banner
{
	background-color: black;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	height: 300px;
	position: relative;
	text-align: center;
	width: 100%;
}

.overlay
{
	color: white;
	position: absolute;
	text-align: center;
	top: 50px;
}

.hamburger-icon
{
	cursor: pointer;
	display: inline-block;
	left: 0;
    margin: 0;
    top: 0;
}

.hamburger-icon span
{
    background-color: #000;
	display: block;
    height: 2.5px;
    margin-bottom: 6px;
	width: 25px;
}

.hamburger-icon span:last-child
{
    margin-bottom:0px;
}

.post
{
	background-color: rgba(250,131,32, .9);
	color: white;
    left: 100px;
	margin: auto;
	margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: static;
	right: 100px;
	text-align: left;
    top: 200px;
	width: 75%;
}

.align-left
{
	/*float:left;*/
	font-size: 10px;
}

.align-right
{
	float: right;
	font-size: 10px;
}

#main
{
	padding: 16px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
    transition: margin-left .5s;
}

@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
