body
{
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav
{
    background-color: #111;
	height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 0;
    z-index: 1;
}

.sidenav a
{
    color: #818181;
    display: block;
	font-size: 25px;
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
	font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
	top: 0;
}

.menu-icon
{
	cursor: pointer;
	font-size: 30px;
}

.hamburger-icon
{
	display: inline-block;
	left: 0;
    margin: 0;
    padding: 19px 16px;
    top: 0;
}

.hamburger-icon span
{
    background-color: #000;
	display: block;
    height: 2.5px;
    margin-bottom: 6px;
	width: 25px;
}

.hamburger-icon span:last-child
{
    margin-bottom:0px;
}

#main
{
	padding: 16px;
    transition: margin-left .5s;
}

@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
